@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

:root {
  --background: #f6b7c1;
  --primary: #ffd7bd;
  --secondary: #93c6bb;
  --tertiary: #bce7ac;
  --text: #ffffff;
  --text2: #000000;
  --accent: #ffc107;
  --success: #28a745;
  --warning: #ffc107;
  --error: #c82333;
}

/*background-color: var(--background);*/
body {
  background: linear-gradient(to bottom right, var(--background), #FFFAF0);
  font-family: "Dancing Script", system-ui;
  font-optical-sizing: auto;
}
