@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

:root {
  --background: #f6b7c1;
  --primary: #ffd7bd;
  --secondary: #fff0f5;
  --tertiary: #bce7ac;
  --text: #333333;
  --text2: #d9a300;
  --accent: #ffc107;
  --success: #28a745;
  --warning: #ffc107;
  --error: #c82333;
}

body,
html {
  background-color: var(--background);
  font-family: "Dancing Script", system-ui;
  font-optical-sizing: auto;
  width: 100%;
  height: 100%;
}


