footer {
  background-color: var(--primary);
  text-align: start;
  padding: 1rem;
  width: 100%;
  position: fixed;
  bottom: 0;
}

span {
  color: var(--text2);
  font-size: 1.2rem;
  font-weight: 900;
}
