.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.main-text-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}

.main-tittle {
  font-size: 6rem;
  color: var(--text);
}

.main-subtittle {
  font-size: 2rem;
  color: var(--text);
}

.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.main-content-img {
  width: 15rem;
  border-radius: 2rem;
  transition: transform 0.2s, width 0.2s;
  cursor: pointer;
}

.main-content-img:hover {
  transform: scale(1.2);
  z-index: 100;
}

@media (max-width: 768px) {
  .main-tittle {
    font-size: 3rem;
  }
  .main-subtittle {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .main-tittle {
    font-size: 1.5rem;
  }
  .main-subtittle {
    font-size: 0.5rem;
  }
}
