.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.main-text-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}

.main-tittle {
  font-size: 6rem;
  color: var(--text);
}

.main-subtittle {
  font-size: 2rem;
  color: var(--text);
}

.main-content {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 1rem;
}

.main-content-img{
    width: 20rem;
    border-radius: 2rem;    
}
